<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookBook</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
      <h1>Welcome to CookBook!</h1>
      <p>A smart tool to manage your pantry.</p>
  </body>
</html>